<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="" type="image/png">
    <title>汽车商城</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/jquery.stepy.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
    </head>
    <body class="sticky-header">
        <section>
            <div th:replace="~{publicPage/commons::leftList}"></div>
            <!--上方信息栏-->
            <div th:replace="~{publicPage/commons::header_two}"></div>

            <div class="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="square-widget">
                            <div class="widget-container">
                                <header class="panel-heading no-border">
                                    <h3 style="text-align: center">员工注册</h3>
                                </header>
                                </br>
                                </br>
                                <form id="default" class="form-horizontal" method="post"
                                      style="margin-left: 200px;margin-right: auto" action="/employeeAdd">

                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-2 control-label"></label>
                                        <div class="col-md-6 col-sm-6">
                                            <label style="color: red;width: 430px" th:text="${msg}"></label>
                                            <label style="color: green;width: 430px" th:text="${success}"></label>
                                            <a style="text-align: right" th:if="${success}" href="/employeeMessage/max" th:text="前往查看"></a>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-2 control-label">姓名</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input type="text" placeholder="请输入姓名" class="form-control"
                                                   name="employeeName"
                                                   th:value="${employee.employeeName}" pattern="^[\u4E00-u9FA5A_Za-z0-9]{2,20}$"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-2 control-label">性别</label>
                                        <div class="col-md-6 col-sm-6" style="width: 95px">
                                            <select name="employeeSex" style="width: 100px" required>
                                                <option style="text-align: center" th:text="${employee.employeeSex}"></option>
                                                <option style="text-align: center">男</option>
                                                <option style="text-align: center">女</option>
                                            </select>
                                        </div>
                                        <label class="col-md-2 col-sm-2 control-label"
                                               style="margin-left: 135px">职位</label>
                                        <div class="col-md-6 col-sm-6" style="width: 100px">
                                            <select name="employeeRole" style="width: 100px" required>
                                                <option style="text-align: center" th:text="${employee.employeeRole}"></option>
                                                <option style="text-align: center"  th:if="${session.permission} <= 1">经理</option>
                                                <option style="text-align: center"  th:if="${session.permission} <= 2">管理</option>
                                                <option style="text-align: center">前台</option>
                                                <option style="text-align: center">营业员</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-2 control-label">工资</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input type="text" placeholder="工资" class="form-control"
                                                   name="employeeSalary" th:value="${employee.employeeSalary}"
                                                   pattern="^([1-9][0-9]{3,5})+(.[0-9]{2,2})$" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-2 control-label">电话号码</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input type="text" placeholder="电话号码" class="form-control"
                                                   name="employeePhone"
                                                   th:value="${employee.employeePhone}" required pattern="^[1-9][0-9]{10}$">
                                        </div>
                                    </div>
                                    <br>
                                    <div style="margin-right:200px;text-align: center">
                                        <button class="btn btn-info">
                                            提交
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div th:replace="~{publicPage/commons::footer_two}"></div>

            </div>
        </section>
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
        <script src="/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/modernizr.min.js"></script>
        <script src="/js/jquery.nicescroll.js"></script>

        <!--easy pie chart-->
        <script src="/js/easypiechart/jquery.easypiechart.js"></script>
        <script src="/js/easypiechart/easypiechart-init.js"></script>

        <!--Sparkline Chart-->
        <script src="/js/sparkline/jquery.sparkline.js"></script>
        <script src="/js/sparkline/sparkline-init.js"></script>

        <!--icheck -->
        <script src="/js/iCheck/jquery.icheck.js"></script>
        <script src="/js/icheck-init.js"></script>

        <!-- jQuery Flot Chart-->
        <script src="/js/flot-chart/jquery.flot.js"></script>
        <script src="/js/flot-chart/jquery.flot.tooltip.js"></script>
        <script src="/js/flot-chart/jquery.flot.resize.js"></script>
        <script src="/js/flot-chart/jquery.flot.pie.resize.js"></script>
        <script src="/js/flot-chart/jquery.flot.selection.js"></script>
        <script src="/js/flot-chart/jquery.flot.stack.js"></script>
        <script src="/js/flot-chart/jquery.flot.time.js"></script>
        <script src="/js/main-chart.js"></script>

        <!--common scripts for all pages-->
        <script src="/js/scripts.js"></script>
    </body>
</html>