<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="keywords"
              content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
        <meta name="description" content="">
        <meta name="author" content="ThemeBucket">
        <link rel="shortcut icon" href="" type="image/png">

        <title>汽车商城</title>

        <!--icheck-->
        <link href="/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
        <link href="/js/iCheck/skins/square/square.css" rel="stylesheet">
        <link href="/js/iCheck/skins/square/red.css" rel="stylesheet">
        <link href="/js/iCheck/skins/square/blue.css" rel="stylesheet">

        <!--dashboard calendar-->
        <link href="/css/clndr.css" rel="stylesheet">


        <!--common-->
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/style-responsive.css" rel="stylesheet">


    </head>


    <body class="sticky-header">
        <section>

            <div th:replace="~{publicPage/commons::leftList}"></div>

            <div th:replace="~{publicPage/commons::header_one}"></div>

            <div class="main-content">

                <div class="row">
                    <section>
                        <header class="panel-heading no-border">
                            <h3 style="text-align: center">已售车辆信息</h3>
                        </header>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="table_one">序号</th>
                                    <th class="table_one">汽车编号</th>
                                    <th class="table_one">汽车名称</th>
                                    <th class="table_one">汽车颜色</th>
                                    <th class="table_one">汽车品牌</th>
                                    <th class="table_one">汽车版本</th>
                                    <th class="table_one">汽车类型</th>
                                    <th class="table_one">汽车价格</th>
                                    <th class="table_one">汽车供应商</th>
                                    <th class="table_one">汽车排量</th>
                                    <th class="table_one">汽车挡位</th>
                                    <th class="table_one">汽车能源</th>
                                </tr>
                                </thead>

                                <!--                                for循环将数据写在下方-->
                                <tbody>
                                <tr th:each="temp,status:${list.list}">
                                    <td class="table_one" th:text="${status.count}"></td>
                                    <!--                                    汽车编号-->
                                    <td class="table_one" th:text="${temp.carId}"></td>
                                    <!--                                 td 汽车名称-->
                                    <td class="table_one" th:text="${temp.carName}"></td>
                                    <!--                                 td 汽车颜色	-->
                                    <td class="table_one" th:text="${temp.carColor}"></td>
                                    <!--                                 td 汽车品牌	-->
                                    <td class="table_one" th:text="${temp.carBrand}"></td>
                                    <!--                                 td 汽车版本	-->
                                    <td class="table_one" th:text="${temp.carVersion}"></td>
                                    <!--                                 td 汽车类型	-->
                                    <td class="table_one" th:text="${temp.carType}"></td>
                                    <!--                                 td 汽车价格	-->
                                    <td class="table_one" th:text="${temp.carPrice}"></td>
                                    <td class="table_one" th:text="${temp.carProvide}"></td>
                                    <!--                                 td 汽车排量	-->
                                    <td class="table_one" th:text="${temp.carDisplacement}"></td>
                                    <!--                                 td 汽车挡位-->
                                    <td class="table_one" th:text="${temp.carGearbox}"></td>
                                    <!--                                 td 汽车能源	-->
                                    <td class="table_one" th:text="${temp.carEnergy}"></td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </section>
                </div>
                <br>
                <br>
                <div th:replace="~{publicPage/commons::footer_one}"></div>
            </div>
        </section>
        <!-- Placed js at the end of the document so the pages load faster -->
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
        <script src="/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/modernizr.min.js"></script>
        <script src="/js/jquery.nicescroll.js"></script>

        <!--easy pie chart-->
        <script src="/js/easypiechart/jquery.easypiechart.js"></script>
        <script src="/js/easypiechart/easypiechart-init.js"></script>

        <!--Sparkline Chart-->
        <script src="/js/sparkline/jquery.sparkline.js"></script>
        <script src="/js/sparkline/sparkline-init.js"></script>

        <!--icheck -->
        <script src="/js/iCheck/jquery.icheck.js"></script>
        <script src="/js/icheck-init.js"></script>

        <!-- jQuery Flot Chart-->
        <script src="/js/flot-chart/jquery.flot.js"></script>
        <script src="/js/flot-chart/jquery.flot.tooltip.js"></script>
        <script src="/js/flot-chart/jquery.flot.resize.js"></script>
        <script src="/js/flot-chart/jquery.flot.pie.resize.js"></script>
        <script src="/js/flot-chart/jquery.flot.selection.js"></script>
        <script src="/js/flot-chart/jquery.flot.stack.js"></script>
        <script src="/js/flot-chart/jquery.flot.time.js"></script>
        <script src="/js/main-chart.js"></script>

        <!--common scripts for all pages-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
